.toolbar {
  height: 30px;
}

.sheet {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  box-sizing: border-box;
  margin-top: -30px;
  position: relative;

  .grid-container {
    overflow: hidden;
  }

  .sheet-grid {
    white-space: nowrap;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    overflow: auto;

    thead {
      display: block;
    }

    tbody {
      display: block;
      overflow-x: scroll;
    }

    .row {
      position: relative;
      padding-left: 30px;

      &.empty {

      }

      &.selected {
        .row-label {
          background: #e1e1e1;
          border-right: 2px solid #3193c5;
        }
      }

      .row-label {
        text-align: center;
        border-right: 1px solid #ababab;
        -webkit-user-select: none;
        cursor: e-resize;
        width: 30px;
        box-sizing: border-box;
        background: #fff;
        display: inline-block;
        vertical-align: top;
        position: absolute;
        left: 0;
        z-index: 2;

        &:hover {
          background: #c2dde0;
        }

        &:after {
          content: "";
          position: absolute;
          display: block;
          background-image: linear-gradient(to right, rgba(239, 239, 239, 1.0), rgba(171, 171, 171, 1.0));
          left: -1px;
          right: -1px;
          height: 1px;
          cursor: row-resize;
          bottom: 0;
        }
      }

      .column {
        line-height: 24px;
        height: 24px;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(171, 171, 171, 1.0);
        -webkit-user-select: none;
        cursor: s-resize;
        background: #fff;
        display: inline-block;
        vertical-align: top;
        position: absolute;
        left: 0;
        z-index: 3;

        &:after {
          content: "";
          position: absolute;
          display: block;
          background-image: linear-gradient(rgba(239, 239, 239, 1.0), rgba(171, 171, 171, 1.0));
          top: -1px;
          bottom: -1px;
          width: 1px;
          cursor: col-resize;
          right: 0;
        }

        &.empty {
          width: 30px;
          border-bottom: 0;
          position: absolute;
          z-index: 4;
          border-bottom: 1px solid rgba(171, 171, 171, 1.0);
          cursor: default;
          background: #f0f0f0;

          &:after {
            cursor: default;
          }
        }

        &.selected {
          background: #e1e1e1;
          border-bottom: 2px solid #3193c5;
        }

        &:hover:not(.empty) {
          background: #c2dde0;
        }
      }

      .cell {
        padding: 0 4px;
        border-bottom: 1px solid #d4d4d4;
        border-right: 1px solid #d4d4d4;
        min-height: 24px;
        cursor: cell;
        position: relative;
        white-space: nowrap;
        text-overflow: ellipsis;
        box-sizing: border-box;
        z-index: 1;
        display: inline-flex;
        align-content: center;
        vertical-align: top;

        &:first-of-type {
          margin-left: 30px;
        }

        &.selected {
          outline: 2px solid #3193c5;
          outline-offset: -2px;
        }

        .cell-input {
          position: absolute;
          top: 2px;
          left: 2px;
          bottom: 2px;
          outline: 0;
          border: 0;
          padding: 0 4px 0 2px;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 12px;
          display: none;
        }

        &.editing {
          .cell-input {
            display: block;
          }
        }

        .cell-value {

        }
      }
    }
  }
}