.workbook-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  .sheet-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 30px;
    box-sizing: border-box;
    overflow: hidden;

    @import "sheet";
  }

  .tab-container {
    height: 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    .tab {
      float: left;
      border: 1px solid #000;
      padding: 4px 8px;

      &.active {

      }

      .text {

      }

      .close {

      }
    }
  }
}