.popup-view {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;

  .popup {
    min-width: 500px;
    background: #fff;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.15);
    border: 1px solid #777777;
    -webkit-user-select: none;
    cursor: default;

    .header {
      padding: 8px 8px;
      border-bottom: 1px solid #ddd;
      color: #777;
    }

    .content {
      padding: 8px 8px;
      overflow: hidden;

      &.invalid {
        label {
          input {
            border: 1px solid #cb0012;
          }
        }
      }

      .chart-view {
        border: 1px solid #aaa;
      }

      label {
        display: block;
        margin-bottom: 10px;

        span {
          width: 120px;
          display: inline-block;
          vertical-align: top;
          line-height: 24px;
        }

        p {
          display: inline-block;
          vertical-align: top;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 12px;
          padding: 0 8px;
          width: 370px;

          strong {
            font-weight: bold;
          }

          span {
            width: auto;
            display: inline;
            line-height: normal;
          }
        }

        input, select {
          display: inline-block;
          vertical-align: top;
          height: 24px;
          outline: 0;
          border: 1px solid #cbcbcb;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 12px;
          padding: 0 8px;
          width: 370px;

          &:active, &:focus {
            border: 1px solid #3193c5;
          }
        }
      }

      .popup-button {
        margin-top: 10px;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        border: 1px solid #cbcbcb;
        line-height: 24px;
        padding: 0 10px;
        cursor: default;
        -webkit-user-select: none;
        margin-right: 8px;

        &:hover {
          border: 1px solid #3193c5;
          color: #3193c5;
        }
      }

      .help-sidebar {
        width: 200px;
        float: left;
        overflow: hidden;
        border: 1px solid #cbcbcb;

        .sidebar-item {
          line-height: 30px;
          border-bottom: 1px solid #cbcbcb;
          background: #eee;
          padding: 0 10px;

          &:hover {
            background: #cbcbcb;
          }

          &.selected {
            background: #fff;
            border-right: 0;
            font-weight: bold;
          }
        }
      }

      .article {
        width: 500px;
        float: right;
        border: 1px solid #cbcbcb;
        height: 350px;
        padding: 10px;
      }
    }

    &.about-popup {
      min-width: 312px;

      .content {
        text-align: center;

        img {
          -webkit-user-drag: none;
        }

        h1 {
          font-size: 24px;
          margin-top: 10px;
        }

        h2 {
          font-size: 14px;
          margin-bottom: 24px;
        }

        h3 {
          i {
            font-size: 11px;
          }
        }

        h4 {
          margin-top: 20px;
          font-size: 10px;
        }

        h5 {
          margin-bottom: 10px;
          font-size: 10px;
        }
      }
    }
  }
}
