.toolbar {
  height: 46px;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 5px;
  -webkit-user-select: none;

  input {
    height: 26px;
    outline: 0;
    border: 1px solid #c6c6c6;
    padding: 0 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    vertical-align: top;

    &:active, &:focus {
      border: 1px solid #3193c5;
    }
  }

  .selected-cell {
    margin-right: 20px;
    width: 100px;
  }

  .toolbar-buttons {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #c6c6c6;
    height: 26px;
    vertical-align: top;
    margin-right: 3px;
    width: 180px;

    .image-btn {
      color: #777;
      height: 24px;
      width: 36px;
      line-height: 24px;
      font-size: 16px;

      &:hover {
        color: #3193c5;
      }

      &.disabled {
        color: #cbcbcb;
      }

      i {
        position: relative;
        top: 4px;
      }
    }
  }

  .value-input {
    float: right;
    width: calc(100% - 305px);
  }
}

.sheet {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 46px;
  left: 0;
  right: 0;
  bottom: 0;

  .grid-container {
    overflow: hidden;
  }

  .sheet-grid {
    white-space: nowrap;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    overflow: auto;

    thead {
      display: block;
    }

    tbody {
      display: block;
      overflow-x: scroll;
    }

    .row {
      position: relative;
      padding-left: 30px;

      &.empty-row {
        height: 25px;
      }

      &.selected {
        .row-label {
          background: #e1e1e1;
          border-right: 2px solid #3193c5;
        }
      }

      .row-label {
        text-align: center;
        border-right: 1px solid #ababab;
        -webkit-user-select: none;
        cursor: e-resize;
        width: 30px;
        box-sizing: border-box;
        background: #fff;
        display: inline-block;
        vertical-align: top;
        position: absolute;
        left: 0;
        z-index: 2;

        &:hover {
          background: #c2dde0;
        }

        &:after {
          content: "";
          position: absolute;
          display: block;
          background-image: linear-gradient(to right, rgba(239, 239, 239, 1.0), rgba(171, 171, 171, 1.0));
          left: -1px;
          right: -1px;
          height: 1px;
          cursor: row-resize;
          bottom: 0;
        }
      }

      .column {
        line-height: 24px;
        height: 24px;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(171, 171, 171, 1.0);
        -webkit-user-select: none;
        cursor: s-resize;
        background: #fff;
        display: inline-block;
        vertical-align: top;
        position: absolute;
        left: 0;
        z-index: 3;

        &:after {
          content: "";
          position: absolute;
          display: block;
          background-image: linear-gradient(rgba(239, 239, 239, 1.0), rgba(171, 171, 171, 1.0));
          top: -1px;
          bottom: -1px;
          width: 1px;
          cursor: col-resize;
          right: 0;
        }

        &.empty {
          width: 30px;
          border-bottom: 0;
          position: absolute;
          z-index: 4;
          border-bottom: 1px solid rgba(171, 171, 171, 1.0);
          cursor: default;
          background: #f0f0f0;

          &:after {
            cursor: default;
          }
        }

        &.selected {
          background: #e1e1e1;
          border-bottom: 2px solid #3193c5;
        }

        &:hover:not(.empty) {
          background: #c2dde0;
        }
      }

      .cell {
        padding: 0 4px;
        border-bottom: 1px solid #d4d4d4;
        border-right: 1px solid #d4d4d4;
        min-height: 24px;
        cursor: cell;
        position: relative;
        white-space: nowrap;
        text-overflow: ellipsis;
        box-sizing: border-box;
        z-index: 1;
        display: inline-flex;
        align-content: center;
        vertical-align: top;

        &:first-of-type {
          margin-left: 30px;
        }

        &.selected {
          outline: 2px solid #3193c5;
          outline-offset: -2px;
        }

        .cell-input {
          position: absolute;
          top: 2px;
          left: 2px;
          bottom: 2px;
          outline: 0;
          border: 0;
          padding: 0 4px 0 2px;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 12px;
          display: none;
        }

        &.editing {
          .cell-input {
            display: block;
          }

          .cell-value {
            display: none;
          }
        }

        .cell-value {
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}