.image-btn {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  vertical-align: top;
  overflow: hidden;
}
